@import url('https://fast.fonts.net/t/1.css?apiType=css&projectid=fc18d970-c0d6-4bd4-b982-93d12102f11f');
@font-face {
  font-family: 'HelveticaNeueW01-Thin';
  src: url('../fonts/aff68211-86bb-476d-882e-f7a3face144c.woff2')
      format('woff2'),
    url('../fonts/50d35bbc-dfd4-48f1-af16-cf058f69421d.woff') format('woff');
}
@font-face {
  font-family: 'HelveticaNeueW01-45Ligh';
  src: url('../fonts/5a13f7d1-b615-418e-bc3a-525001b9a671.woff2')
      format('woff2'),
    url('../fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff') format('woff');
}
@font-face {
  font-family: 'HelveticaNeueW01-65Medi';
  src: url('../fonts/3600b37f-2bf1-45f3-be3a-03365f16d9cb.woff2')
      format('woff2'),
    url('../fonts/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff') format('woff');
}
